CV_Cover_letter_aau.Rmd
CV_Cover_letter_aau.pdf
CV_Cover_letter_aau.aux
CV_Cover_letter_aau.out
CV_Cover_letter_NILU.Rmd
CV_Cover_letter_NILU.pdf
CV_Cover_letter_TCD.Rmd
CV_Cover_letter_TCD.pdf
CV_Cover_letter.aux
CV_Cover_letter.knit.md
CV_Cover_letter.log
CV_Cover_letter.out
CV_Cover_letter.tex
CV_Cover_letter_UCD.Rmd
CV_Cover_letter_UCD.pdf
